<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
.chat-page {
  height: 100%;
}

.chat-page body {
  height: 100%;
  display: grid;
  place-items: center;
}

.chat--messageContainer {
  height: 15em;
  overflow: scroll;
}

.video--localTrack video {
  width: 150px;
  position: absolute;
  bottom: 2em;
  left: 2em;
  z-index: 5;
}

.video--remoteTrack video {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.video--closeBtn {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 5;
}
</style>