<!DOCTYPE html>
<html lang="en" class="chat-page">

<head>
  {% include "head.njk" %}
  <title>Control station</title>
</head>

<body>
  <div class="w-full max-w-md">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="font-bold text-xl mb-2">Twilio Workshop</h1>
      <ul>
        <li><a class="underline" href="/workshop/chat/">Chat example</a></li>
        <li><a class="underline" href="/workshop/video/">Video example</a></li>
        <li><a class="underline" href="/workshop/whatsapp/">Whatsapp example</a></li>
      </ul>
    </div>
  </div>
</body>

</html>