<!DOCTYPE html>
<html lang="en" class="chat-page">

<head>
  {% include "head.njk" %}
  <title>Control station</title>
</head>

<body>
  <div id="root"></div>
  <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0-beta13/twilio-video.min.js"></script>
  {% set js %}
    {% include "user/video.js" %}
  {% endset %}
  <script type="module">{{ js | safe }}</script>
</body>

</html>