<!DOCTYPE html>
<html lang="en" class="chat-page">

<head>
  {% include "head.njk" %}
  <title>Control station</title>
</head>

<body>
  <div id="root">whatsapp stuff!</div>
  <ul>
    <li>simple response with a serverless function</li>
    <li>controlled flow with studio</li>
    <li>smart flow with auto pilot</li>
  </ul>
</body>

</html>